# Node modules
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env

# Logs
logs/
*.log
logs/*.log

# Build files
dist/
build/

# Editor & OS-specific files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
